.carousel {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    background-color: #0f7451;
    gap: 86px;
    padding: 32px;
    padding-left: 86px;
    border-radius: 10px;
    position: relative;
}

img {
    width: 150px;
    border-radius: 10px;
    transform: scale(1.5);
}

.carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon{
    width: 30px;
    stroke: #0f7451;
}

.btn{
    border: none;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 20px 24px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-left {
    left: -18px;
}

.btn-right {
    right: -18px;
}

.dots {}

